<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.userMapper">
    <resultMap id="userAndDescResultMap" type="com.qf.pojo.User">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="password" column="password"></result>
        <result property="sex" column="sex"></result>
        <result property="birthday" column="birthday"></result>
        <result property="registTime" column="registTime"></result>

        <association property="userDesc" javaType="com.qf.pojo.UserDesc">
            <id property="id" column="id"></id>
            <result property="address" column="address"></result>
            <result property="phone" column="phone"></result>
        </association>
    </resultMap>
    <select id="findUserAndDesc" resultMap="userAndDescResultMap">
        select a.*, b.address, b.phone from user a, userdesc b where a.id=b.id
    </select>
    <resultMap id="userAndOrderResultMap" type="com.qf.pojo.User">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="password" column="password"></result>
        <result property="sex" column="sex"></result>
        <result property="birthday" column="birthday"></result>
        <result property="registTime" column="registTime"></result>

        <collection property="orderList" ofType="com.qf.pojo.Order">
            <id property="id" column="id"></id>
            <result property="name" column="name"></result>
            <result property="uid" column="uid"></result>
            <result property="pid" column="pid"></result>
        </collection>
    </resultMap>
    <select id="findUserAndOrder" resultMap="userAndOrderResultMap">
        select u.*,o.name,o.id from `user` u left join `order` o on u.id = o.uid
    </select>
    <resultMap id="userAnnOrderAndProductResultMap" type="com.qf.pojo.User">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="password" column="password"></result>
        <result property="sex" column="sex"></result>
        <result property="birthday" column="birthday"></result>
        <result property="registTime" column="registTime"></result>
        <collection property="orderList" ofType="com.qf.pojo.Order">
            <id property="id" column="id"></id>
            <result property="name" column="name"></result>
            <result property="uid" column="uid"></result>
            <result property="pid" column="pid"></result>
            <collection property="productList" ofType="com.qf.pojo.Product">
                <id property="id" column="id"></id>
                <result property="name" column="name"></result>
            </collection>
        </collection>
    </resultMap>
    <select id="findUserAndOrderAndProduct" resultMap="userAnnOrderAndProductResultMap">
        select a.*,b.name,b.id,c.id,c.name from `user` a left join `order` b on a.id=b.uid left join product c on b.pid = c.id
    </select>
    <sql id="sqlUser">
        select *
    </sql>
    <select id="findAll" resultType="com.qf.pojo.User">
        <include refid="sqlUser"/>from user
    </select>
    <select id="findAllByNameAndSex" resultType="com.qf.pojo.User">
        select * from user
        <where>
            <if test="name!=null">
                name like '%${name}%'
            </if>
            <if test="sex!=null">
                and sex=#{sex}
            </if>
        </where>
    </select>
    <update id="UpdateUser" parameterType="com.qf.pojo.User">
        update user
        <set>
            <if test="name!=null">
                `name` =#{name},
            </if>
            <if test="password!=null">
                `name` =#{password},
            </if>
            <if test="sex!=null">
                `name` =#{sex},
            </if>
            <if test="birthday!=null">
                `name` =#{birthday},
            </if>
            <if test="registTime!=null">
                `name` =#{registTime},
            </if>
        </set>
        where id=#{id}
    </update>
    <select id="findUserByIds" parameterType="int" resultType="com.qf.pojo.User">
       select * from user
       <where>
           <foreach collection="list" item="id" open="id in(" close=")" separator=",">
               #{id}
           </foreach>
       </where>
    </select>
</mapper>